{% load static %}
<!DOCTYPE HTML>
<html lang="pl">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Błażej Dyksiński - CV</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Stworzę dla Ciebie wyjątkową stronę www! Zatrudnij programistę webowego: PHP, JavaScript, HTML, CSS, MySQL, WordPress, Joomla, Drupal." />
	<meta name="keywords" content="zamów, stronę, tworzenie, www, programista, portfolio, php, javascript, html, css, WordPress, Joomla, Drupal" />
	<link rel="stylesheet" href="{% static 'css/blog.css' %}" type="text/css" />
	<link rel="stylesheet" href="css/fontello.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script>
        function zegarek()
        {
            var data = new Date();
            var godzina = data.getHours();
            var minuta = data.getMinutes();
            var sekunda = data.getSeconds();
            var dzien = data.getDate();
            var dzienN = data.getDay();
            var miesiac = data.getMonth();
            var rok = data.getFullYear();
           
            if (minuta < 10) minuta = "0" + minuta;
            if (sekunda < 10) sekunda = "0" + sekunda;
           
            var dni = new Array("niedziela", "poniedziałek", "wtorek", "środa", "czwartek", "piątek", "sobota");
            var miesiace = new Array("stycznia", "lutego", "marca", "kwietnia", "maja", "czerwca", "lipca", "sierpnia", "września", "października", "listopada", "grudnia");
           
            var pokazDate = "Dzisiaj jest " + dni[dzienN] + ', ' + dzien + ' ' + miesiace[miesiac] + ' ' + rok + " roku.<br />Godzina " + godzina + ':' + minuta + ':' + sekunda;
            document.getElementById("zegar").innerHTML = pokazDate;
           
            setTimeout(zegarek, 1000);            
        }        
    </script>
	
</head>

<body onload="zegarek()">
	<div id="container">
		
		<div id="info">
			<br/><div id="zegar"></div>
			<br/><br/><br/><i class="icon-desktop"></i>
			<div style="color:#fff; font-size: 1.8em; margin; 0.1em;"><b>Błażej Dyksiński</b></div><br/><br/><br/><br/>
			<h3><a href="">O mnie</a></h3><br/>
			<h3><a href="">Zainteresowania</a></h3><br/>
			<h3><a href="">Doświadczenie</a></h3><br/>
			<h3><a href="">Moje cechy</a></h3><br/><br/><br/>
				
				<a href="http://www.facebook.com" target="_blank"><div id="facebook"><i class="icon-facebook-official"></i></div></a>
				
				<a href="http://www.twitter.com" target="_blank"><div id="twitter"><i class="icon-twitter"></i></div></a> 
				
				<a href="http://www.instagram.com" target="_blank"><div id="instagram"><i class="icon-instagram"></i></div></a>
				
				<div style="clear: both;"></div>				
		</div>
		
		<div id="CV">
			
			<div id="nawigator">
				<div id="gdzie">O mnie</div>
					<ol class="pierwsza"><li><a href="">O mnie</a></li>  <li><a href="">Zainteresowania</a></li>  <li><a href="">Doświadczenie</a></li>  <li><a href="">Moje cechy</a></li><div style="clear: both;"></div></ol>
				
				
				<div id="unaw">
					<div style="color:#fff; font-size: 1.4em;"><b>Błażej Dyksiński</b></div>
					
					<div id="social"><a href="http://www.facebook.com" target="_blank"><div id="facebook"><i class="icon-facebook-official"></i></div></a>
				
					<a href="http://www.twitter.com" target="_blank"><div id="twitter"><i class="icon-twitter"></i></div></a> 
				
					<a href="http://www.instagram.com" target="_blank"><div id="instagram"><i class="icon-instagram"></i></div></a>
				
					<div style="clear: both;"></div></div>
					<ol class="druga"><li><a href="">O mnie</a></li>  <li><a href="">Zainteresowania</a></li>  <li><a href="">Doświadczenie</a></li>   <li><a href="">Moje cechy</a></li> <li><a href="#">Social media</a><ul><li><a href="http://www.facebook.com" target="_blank">Facebook</a></li><li><a href="http://www.instagram.com" target="_blank">Instagram</a></li><li><a href="http://www.twitter.com" target="_blank">Twitter</a></li></ul></li> <div style="clear: both;"></div></ol>	
			
				</div>
				<div style="clear: both;"></div>	
				
			</div>
			
			
			
			<div id="opisy">
				<p>OPIS</p>
			</div>
			
		</div>
		
		<div style="clear: both;"></div>
		
		<div id="stopka"><div style="color:#fff;">Kontakt: e-mail: bdyksinski@sbs.sniadek.pl; tel. 857 932 441 </div>
		</div>
		
	</div>

</body>

</html>



