body{
	background-image: url("img/hexellence.png");
	font-family: 'Lato', sans-serif;
	
}

#container{
	margin-left: auto;
	width:62.5em;
	margin-right: auto;
	height: 54.9em;
	text-align: center;
}

#gdzie{
	background-color: white;
	opacity: 0.5;
	border: 0.1em solid black;
	font-size: 2.5em;
	padding: 0.05em;
}

#info{
	float: left;	
	background-image: url("img/vintage-wallpaper.png");
	width: 12.5em;
	text-align:center;
	height: 53.015em;
	border-top: 0.2em groove #004469;
	border-left: 0.2em groove #004469;
	border-right: 0.2em groove #004469;
	position: relative;
}


#CV{
	float: left;
	height: 51.39em;
	text-align:center;
	width: 49.2em;
}

#nawigator{
	height: 14.75em;
	width: 50em;
	border-top: 0.2em groove #004469;
	border-right: 0.2em groove #004469;
	text-align:center;
	background-image: url("img/laptop.jpg");
	background-position: relative;
}

#unaw{
	
	float: left;
	visibility: hidden;
	text-align: center;
	padding: 0.3em;
	width: 15em;
}

ol.pierwsza{
	list-style-type: none;
	float: right;
	visibility: hidden;
	margin-top: 3em;
	margin-right: 1.5em;
	
	
}


ol.pierwsza > li{
	float:left;
	padding: 0.3em;
	border-right: 0.1em dotted #11224f;
	font-size: 1.2em;
	margin: 0.2em 0;
}

ol.pierwsza > li:first-child{
	border-left: 0.1em dotted #11224f;
}
	

ol.pierwsza > li:hover{
	background-image: url("img/classy_fabric2.png");
	text-align: center;
}

#opisy{
	height: 38.3em;
	width: 50em;
	border-top: 0.2em groove #004469;
	border-right: 0.2em groove #004469;
	background-color: lightblue;
}

h1{
	margin-top: 100px;
	font-size: 20px;
	margin-bottom: 100px;
}

h3{
	padding: 0.3em;
	border-top: 0.1em dotted #00114f;
	border-bottom: 0.1em dotted #00114f;
	background-image: url("img/dark-paths.png");
	text-decoration: none;
	display: block;
	font-size: 1.5em;
	text-align: center;
	margin: 0.2em 0;
	
}



#stopka{
	position:absolute;
	text-align: center;
	padding: 0.5em;
	background-image: url("img/dark_wall.png");
	border: 0.2em groove #004469;
	width:61.7em;
}


h3:hover{
	background-image: url("img/dark-paths2.png");
	text-align: center;
}

#zegar{
	font-weight: 600;
	color: #fff;
	margin: 0.1em;
}

#instagram{
	float: left;
	padding: 0.1em;
	border: 0.2em solid black;
	background-color:white;
	background-image: url("img/insta.jpg");
	background-position: relative;
	text-top:25;
	margin: 0.4em 0.6em;
}

#twitter{
	float: left;
	background-color: #3095d3;
	padding: 0.1em;
	border: 0.2em solid black;
	margin: 0.4em 0.5em;
}

#facebook{
	float: left;
	padding: 0.1em;
	border: 0.2em solid black;
	margin: 0.4em 0.6em;
	background-color: #4668b3;
}

a{
	text-decoration:none;
	color: white;
}

#facebook:hover{
	background-color: #688ad5;
	
}

#twitter:hover{
	background-color: #52b7f5;
}

#instagram:hover{
	background-image: url("img/insta2.jpg");
	background-position:relative;
	
}

p{
	margin-top: 0;
}

ol.druga{
	list-style-type: none;
	display:none;
	padding: 0.3;
	font-size: 1.1em;
}

ol.druga > li{
	
	float: left;
	margin:0.1em  0;
	border-right: 0.2em groove #22224f;
}

ol.druga > li:first-child{
	margin-left: 0.3em;
	border-left: 0.2em groove #22224f;
	
}

ol.druga > li > ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 40px;
	display: none;
}

ol.druga > li:hover{
	background-image: url("img/classy_fabric2.png");
	text-align: center;
}

ol.druga > li:hover > ul
{
	display: block;
	height: 4em;
}

ol.druga > li > ul > li
{
	position: relative;
	z-index: 100;
	border-top: 0.1em dashed gray;
	border-left: none;
	background-image: url("img/classy_fabric2.png");
}

ol > li > ul > li:first-child:hover
{
	background-image: none;
	background-color: #4668b3;
}

ol > li > ul > li:nth-child(2):hover
{
	background-image: none;
	background-color: #db326e;
}

ol > li > ul > li:last-child:hover
{
	background-image: none;
	background-color: #3095d3;
}




@media screen and (max-width: 1100px) and (min-width: 801px) {
	
	#container{
		width: 50em;
	}
	
	#CV{
		height: 47em;
	}
	
	#info{	
		display: none;
	}
	#stopka{
		width: 49em;
	}
	#nawigator{
		background-image: url("img/classy_fabric.png");
		height: 12em;
		border: 0.2em groove #004469;
	}
	
	#gdzie{
		opacity: 0.6;
	}
	
	#opisy{
	border-top: none;
	border-left: 0.2em groove #004469;
	border-right: 0.2em groove #004469;
	height:  35em;
	width: 50em;
	}
	
	#unaw{
		visibility: visible; 
	}
	
	ol.pierwsza{
		visibility: visible;

	}
	
	#facebook{
		margin: 0.5em 1em;
	}
	
	#twitter{
		margin: 0.5em 1em;
	}
	
	#instagram{
		margin: 0.5em 1em;
	}
}

@media screen and (max-width: 800px){
	#container{
		width: 40em;
		height: 43em;
	}
	
	#opisy{
		width:40em;
		border-left: 0.2em groove #004469;
		border-top: none;
		height: 37em;
	}
	
	#info{
		display: none;
	}
	
	#CV{
		width: 40em;
		height: 35em;
	}
	
	#stopka{
		width: 39em;
	}
	#unaw{
	
		visibility: visible;
		height: 10em;
	}
	
	#nawigator{
		background-image: url("img/classy_fabric.png");
		height: 10em;
		border: 0.2em groove #004469;
		width: 40em;
	}
	
	#gdzie{
		opacity: 0.6;
		font-size: 1.5em;
	}
	
	#facebook{
		margin: 0.5em 1em;
	}
	
	#twitter{
		margin: 0.5em 1em;
	}
	
	#instagram{
		margin: 0.5em 1em;
	}
	
	ol.pierwsza{
	visibility: visible;
	}
	
	
	ol.pierwsza > li{
		font-size: 0.7em;
	}
}

@media screen and (max-width: 800px){
	#container{
		width: 38em;
	}
	
	#nawigator{
		width: 38em;
		height: 6.4em;
	}
	
	ol.pierwsza{
		display: none;
	}
	
	ol.druga{
		display: block;
	}
	
	#unaw{
		width: 38em;
		
	}
	
	#gdzie{
		font-size: 1.2em;
	}
	
	#social{display: none;}
	
	#opisy{
		height: 30em;
		position: absolute;
		width: 38em;
	}
	
	#stopka{
		width: 37em;
		}
}
